doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css") 
  body
    header  Header

    


    footer Footer
    //- img(src="/images/tho.jpg", alt="tho")
    //- button(class="btn btn-outline-primary") Click
    //- button(class="btn btn-warning") ok
    //- h1=message
    //- h2 luu duc tho
    //- table 
    //-  thead 
    //-   tr
    //-    th HỌ Tên
    //-    th age
    //-    th sdt
    //-  tbody 
    //-   tr
    //-    td lưu đức thọ
    //-    td 22
    //-    td 043583458
    //-   tr
    //-    td lưu đức thọ 2
    //-    td 23
    //-    td 0853758377
    //- p lưu đức thọ
    //-  button(class="btn btn-outline-primary")  click!


    //- //-  khai báo biến 
    //- - var fullname="lưu dức thọ"
    //- - var email="tho127@gmail.com"
    //- div(class="user")
    //-  p Xin chào #{fullname}
    //- //-  khai báo biến có thẻ a
    //- - var htmlLink="<a href=`https://github.com/Tho2002`>link html</a>";
    //- div(class="link")
    //-  p !{htmlLink}
    //- //- Điều kiện if else
    //- - 
    //-  var infoUser = {
    //-     name:"lưu đức thọ",
    //-     email:"ldtho1604@gmail.com",
    //-     phone:" 0945295482"
    //-   };
    //- p Họ tên #{infoUser.name}
    //- p Email #{infoUser.email}
    //- if(infoUser.phone)
    //-  p số điện thoại : #{infoUser.phone}
    //- else
    //-  p Số điện thoại :chưa có


    //- case trường hợp
    //- - var statusAcount ="initial"
    //- case statusAcount
    //-  when "initial"
    //-   p đang chờ duyệt
    //-  when "active"
    //-   p đang hoạt động 
    //-  when "inactive"
    //-   p đang bị khóa
    //-  default 
    //-   p không có

    //- vòng lặp
    //- - 
    //-   var listUser = [
    //-     "Lưu Đức THọ1",
    //-     "Lưu Đức THọ2",
    //-     "Lưu Đức THọ3"
    //-   ];  
    //- ul
    //-  each item,index in listUser
    //-   li #{index} :#{item}  
    
    //- vòng lặp for
    //- ul 
    //-  - for(let i=0;i<10;i++)
    //-   li #{i}

 

    script(src="/js/script.js") 
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js")    